@import 'order/Order';
@import 'pizzas/Pizza';
@import 'pizzas/Ingredients';

.app {
  padding: 3% 5%;
  background-image: url('../../assets/pizza-background.jpg');
  background-size: cover;

  .link {
    width: 360px;
    padding: 2px;
    margin-bottom: 2%;
    border-radius: 10px;
    background-color: white;
  }

  .main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 2%;

    > * {
      width: 45%;
    }

    .pricing {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .title-container {
      display: flex;
      height: 50px;
      justify-content: center;
      align-items: center;

      .title {
        padding: 1%;
        border-radius: 5px;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .link {
      margin-bottom: 10%;
    }

    .main {
      flex-direction: column-reverse;

       > * {
        width: 100%;
        margin-top: 10%;
      }
    }
  }
}
